.MovieHeader{
    width: 100%;
    height: 15%;
   
    display: flex;
    justify-content: space-between;
}
.MovieHeader .logo{
  color: var(--heading_color);
  display: flex;
  align-items: center;
  height: 100%;
}
.MovieFilter{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.MovieFilter .Sort select{
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    font-weight: 500;
}
.MovieFilter .Stars{
    width: 30%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.MovieFilter .Stars li{
    list-style: none;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}
.active{
    border-bottom: 2px solid rgb(228, 181, 92);
}